h1 {
  color: goldenrod;
  font-size: 60px;
  margin-bottom: 0px;
}

body {
  background-image: url("images/table.png");
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: white;
}

p {
  color: white;
  font-weight: bold;
}

#message-el {
  font-style: italic;
}

#start-btn {
  background-color: #e0a424;
  color: green;
  border: none;
  border-radius: 8px;
  padding: 10px 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
